@page "/habits"

@using shared.Providers
@inject IDateTimeProvider _dateTimeProvider

<h1>Habits</h1>

<div>
    <h3>Hello there, good @timeOfDayGreeting</h3>
    <p>The current time is: @currentTime</p>
</div>

@code {
    private const int TimerDelay = 1000;
    private const string TwentyFourHourClockTimeFormat = "HH:mm:ss";

    private string timeOfDayGreeting = "";
    private string currentTime = "";

    private Timer? timer;

    protected override void OnInitialized()
    {
        timeOfDayGreeting = GetTimeOfDayGreeting();
        UpdateCurrentTime();

        timer = new Timer(UpdateTime, null, 0, TimerDelay);
    }

    private void UpdateTime(object? state) {
        UpdateCurrentTime();
        InvokeAsync(StateHasChanged);
    }

    private string GetTimeOfDayGreeting()
    {
        var currentHour = _dateTimeProvider.UtcNow().Hour;

        if (currentHour < 12)
            return "morning";
        else if (currentHour < 18)
            return "afternoon";
        else
            return "evening";
    }

    private void UpdateCurrentTime()
    {
        currentTime = _dateTimeProvider.UtcNow().ToString(TwentyFourHourClockTimeFormat);
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}
